* {padding: 0; margin: 0;
  color: #fff;

}
li {list-style: none;}
a {text-decoration: none;}

/* ========================= */
/* font-family: 'Roboto Condensed', sans-serif; */
/* font-family: 'Single Day', cursive; */
/* font-family: 'Orbit', sans-serif; */
















body {
  background-color: #000;
  position: relative;
}

canvas {
  z-index: 10;
  pointer-events: none;
  position: fixed;
  top: 0;
  transform: scale(1.1);
}
#startButton,
#stopButton {
  display: none;
}



.Scroll,
.Scroll_Top {
  position: relative;
  width: 100px;
  height: 120px;
  position: fixed;
  z-index: 99;
  right: 75px;
  bottom: 100px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 32px;
}
.Scroll_Top {
  z-index: -1;
  height: 120px;
  color: #fff;
  opacity: 0;
}
.Scroll h4,
.Scroll_Top h4 {
  width: 100px;
  text-align: center;
}

.Scroll_bar p {
  position: absolute;
  bottom: 25px;
  left: 25px;
  width: 50px;
  font-size: 60px;
}
.Scroll_bar p:nth-child(2) {
  bottom: 0em;
  left: 25px;
}
.Scroll_Top {
  animation: scrollTopAni;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.Scroll {
  animation: scrollAni;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes scrollAni {
  0% {
    bottom: 100px;
  }
  50% {
    bottom: 90px;
  }
  100% {
    bottom: 100px;
  }
}


@keyframes scrollTopAni {
  0% {
    bottom: 100px;
  }
  50% {
    bottom: 110px;
  }
  100% {
    bottom: 100px;
  }
}


/* ============================ */

.page {
  width: 1420px;
  height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
}




/* ============================ */

.header,
.hd {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background-color: #777;
  padding: 10px 100px;
  border-bottom: 2px solid #fff;
  box-sizing: border-box;
  background-color: #000;
}
.header_box {
  display: flex;
  justify-content: space-between;
  width: 1420px;
  margin: 0 auto;
}

.hd_fix {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: 99999;
}

.logo {
  display: flex;
  z-index: 2;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 80px;
  color: #fff;
  border-radius: 15px;
  box-sizing: border-box;
  cursor: pointer;
}
.logo h1{
  position: relative;
  z-index: 2;
  width: 100px;
  text-align: left;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 5px;
  color: orange;
  text-shadow: 1px 1px 3px orangered;
  box-sizing: border-box;
  transition: 0.3s;

}
.logo h1 .header_animation {
  position: absolute;
  z-index: -1;
  top: -5px;
  left: -25px;
  width: 150px;
  height: 80px;
  border-radius: 15px;
  background-color: #333;
  transition: all .5s ease 0s;
}


.header_menu {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 1050px;
  height: 80px;
}
.header_menu li {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Orbit', sans-serif;
  color: #fff;
  cursor: pointer;
  padding: 0 25px;
  height: 100%;
}
.header_menu a p {
  width: 0%;
  margin: 0 auto;
  border-bottom: 1px solid orange;
  margin-top: 5px;
  transition: 0.3s;
}


.header_menu li:hover a {
  color: orange;
  text-shadow: 1px 1px 3px orangered;
}
.header_menu li:hover a p {
  width: 100%;
}


.visualMain {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
  padding-top: 20px;
  background-color: #000;
  box-sizing: border-box;
}
.visualMain h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1070px;
  font-size: 80px;
  line-height: 200px;
  /* font-family: 'Roboto Condensed', sans-serif; */
  font-family: 'Single Day', cursive;
  text-align: center;
}


/* ================================= */

#Self_Introduction {
  position: relative;
  width: 1420px;
  margin: 0 auto;
  padding-top: 100px;
  box-sizing: border-box;
}

/* 소개말 */
.first_introBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 935px;
  height: 140px;
  padding: 6px;
  box-sizing: border-box;
}
.first_intro{
  width: 500px;
  height: 150px;
  margin-top: 5px;
}




/* 프로필 이미지 */
.Profile_Img {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 100px;
  right: 0;
  width: 465px;
  height: 305px;
}
.Profile_Img_box {
  width: 425px;
  height: 380px;
  /* background-color: #aaa; */
  background-image: url(./BackImg/photo/KakaoTalk_20230626_142348064_05.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 90px;
  margin-right: 25px;
  border-radius: 15px;

}
.Profile_Img_box:hover {
  background-image: url(./BackImg/photo/KakaoTalk_20230626_142348064_04.jpg);
  background-size: cover;
  background-position: center;
}






.first_intro li:nth-child(1) {
  margin-top: 15px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  float: left;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 22px;
}
.first_intro li:nth-child(2) {
  margin-top: 15px;
  padding-right: 5px;
  height: 30px;
  line-height: 30px;
  float: left;
  font-size: 20px;
}
.first_intro li:nth-child(3) {
  height: 30px;
  line-height: 35px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
  float: left;
  font-size: 20px;
}
.first_intro li:nth-child(4) {
  float: left;
  font-size: 28px;
  padding-top: 1px;
  padding-right: 10px;
  text-align: center;
  font-weight: bold;
}
.first_intro li:nth-child(5) {
  height: 30px;
  line-height: 35px;
  margin-top: 5px;
  padding-right: 5px;
  float: left;
  font-size: 22px;
}
.first_intro li:nth-child(6) {
  width: 100%;
  float: left;
  font-size: 20px;
  padding: 5px 10px;
  margin-top: 20px;
}





/* 인적사항 */
.midle_intro2 {
  width: 700px;
  height: 400px;
  background-color: skyblue;
  float: left;
  padding: 20px;
  box-sizing: border-box;
}

.midle_profileAll {
  display: flex;
}

.midle_profile1 {
  margin-left: 20px;
}
.midle_profile1,
.midle_profile2,
.midle_profile3 {
  width: 446px;
  margin-right: 20px;
  float: left;
  overflow: hidden;
}
.midle_profile2 {
  position: relative;
}

.midle_profile3 .Profile_Dev-Experience {
  margin-top: 145px;
}

.midle_profile1 .Profile_My h1,
.midle_profile1 .Profile_License h1,
.midle_profile2 .Profile_MBTI h1,
.midle_profile3 .Profile_Dev-Experience h1,
.midle_profile3 .Profile_Work-Experience h1,
.midle_profile1 .Profile_Hobby h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  border-radius: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
  background-color: #fff;
  color: #000;
  text-align: center;
  float: left;
  font-family: 'Single Day', cursive;
  font-size: 28px;
  letter-spacing: 3px;
}
.midle_profile3 .Profile_Dev-Experience h1 {
  margin-top: 120px;
  margin-bottom: 0;
}
.midle_profile1 .Profile_License h1 {
  margin-top: 61px;
}

.midle_profile3 .Profile_Work-Experience h1 {
  margin-top: 9px;
}

.midle_profile1 p,
.midle_profile2 p,
.midle_profile3 p {
  width: 70px;
  font-size: 12px;
  float: left;
  text-align: center;
  margin-left: 10px;
  padding-top: 5px;
  font-family: 'Orbit', sans-serif;
  letter-spacing: normal;
  color: #000;
}
.midle_profile1 li,
.midle_profile2 li,
.midle_profile3 li {
  font-family: 'Orbit', sans-serif;
}

.Profile_My li:nth-child(2) { /* 생년월일 */
  font-size: 50px;
  text-align: center;
  border-bottom: 1px solid #fff;
  padding-bottom: 15px;
  margin-bottom: 50px;
  color: lightgreen;
}
.Profile_My li:nth-child(3), /* PhoneNumber */
.Profile_My li:nth-child(5), /* Email */
.Profile_My li:nth-child(7) { /* gitHub */
  width: 150px;
  background-color: #fff;
  color: #000;
  text-align: center;
  border-radius: 15px;
  float: left;
  margin-right: 15px;
  font-size: 12px;
  height: 22px;
  line-height: 22px;
  font-weight: bold;
}
.Profile_My li:nth-child(4) {
  color: lightgreen;
  font-weight: bold;
} /* Email */
.Profile_My li:nth-child(5) { /* Email */
  margin-top: 15px;
}
.Profile_My li:nth-child(6) {
  width: 250px;
  margin-top: 15px;
  float: left;
  color: lightgreen;
  font-weight: bold;
}
.Profile_My li:nth-child(7) {
  margin-top: 15px;
}
.Profile_My li:nth-child(8) a {
  margin-top: 15px;
  float: left;
  color: lightgreen;
  font-weight: bold;
  cursor: pointer;
}



/* 자격증 */
.Profile_License {
  margin-top: 15px;
}
.Profile_License li {
  width: 100%;
  float: left;
  text-align: center;
}






/* 취미 */
.Profile_Hobby li:nth-child(2),
.Profile_Hobby li:nth-child(4) {
  width: 5px;
  height: 5px;
  margin-top: 10px;
  margin-right: 10px;
  background-color: #fff;
  margin-left: 108px;
  float: left;
}
.Profile_Hobby li:nth-child(4){
  margin-top: 20px;
}

.Profile_Hobby li:nth-child(3),
.Profile_Hobby li:nth-child(5) {
  margin-top: 10px;
}




/* 성격유형 */
.midle_profile2 .Profile_MBTI li:nth-child(2) {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 88px;
  font-size: 50px;
  float: left;
  padding-bottom: 7px;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  color: pink;
}
.midle_profile2 .Profile_MBTI li:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 88px;
  font-weight: bold;
  border-bottom: 1px solid #fff;
  padding-bottom: 7px;
  box-sizing: border-box;
  float: right;
  color: lightpink;
}
.midle_profile2 .Profile_MBTI li:nth-child(4) {
  width: 100%;
  margin-top: 20px;
  float: left;
}
.midle_profile2 .Profile_MBTI li:nth-child(5) {
  line-height: 25px;
}



/* 개발경험, 업무경험 */
.midle_profile3 .Profile_Dev-Experience li {
  display: flex;
  width: 100%;
  height: 52px;
  align-items: center;
  justify-content: center;
  /* border-bottom: 1px solid #fff; */
  box-sizing: border-box;
  font-weight: bold;
  color: lightblue;
  font-size: 22px;
}
.midle_profile3 .Profile_Dev-Experience li:nth-child(2) {
  height: 30px;
  font-size: 18px;
  padding-top: 35px;
}

.midle_profile3 .Profile_Work-Experience li:nth-child(2),
.midle_profile3 .Profile_Work-Experience li:nth-child(4),
.midle_profile3 .Profile_Work-Experience li:nth-child(6) {
  padding-left: 30px;
}

.midle_profile3 .Profile_Work-Experience li:nth-child(3),
.midle_profile3 .Profile_Work-Experience li:nth-child(5),
.midle_profile3 .Profile_Work-Experience li:nth-child(7) {
  font-size: 14px;
  margin-bottom: 25px;
  color: lightblue;
  padding-left: 50px;
  font-weight: bold;
}




.midle_profile4_chart {
  width: 445px;
  height: 145px;
  position: absolute;
  bottom: 25px;
  right: 0px;
  border-radius: 30px;
  padding: 10px 20px;
  box-sizing: border-box;
  border: 1px solid #fff;
}

.midle_profile4_chart ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.midle_profile4_chart ul li {
  line-height: 26.5px;
}
.midle_profile4_chart ul li:nth-child(1),/* E */
.midle_profile4_chart ul li:nth-child(3),
.midle_profile4_chart ul li:nth-child(4),
.midle_profile4_chart ul li:nth-child(6),
.midle_profile4_chart ul li:nth-child(7),
.midle_profile4_chart ul li:nth-child(9),
.midle_profile4_chart ul li:nth-child(10),
.midle_profile4_chart ul li:nth-child(12) {
  width: 50px;
  height: 26.5px;
  margin-bottom: 5px;
  font-size: 12px;
  text-align: center;
}
.midle_profile4_chart ul li:nth-child(2),
.midle_profile4_chart ul li:nth-child(5),
.midle_profile4_chart ul li:nth-child(8),
.midle_profile4_chart ul li:nth-child(11) { /*게이지*/
  position: relative;
  width: 280px;
  margin: 0 10px;
  margin-bottom: 5px;
  text-align: center;
}

.midle_profile4_chart ul li:nth-child(2) div:nth-child(1),
.midle_profile4_chart ul li:nth-child(5) div:nth-child(1),
.midle_profile4_chart ul li:nth-child(8) div:nth-child(1),
.midle_profile4_chart ul li:nth-child(11) div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28%;
  height: 100%;
  border-radius: 30px 0px 0px 30px;
  float: left;
}
.midle_profile4_chart ul li:nth-child(2) div:nth-child(1) {background-color: lightpink;}
.midle_profile4_chart ul li:nth-child(5) div:nth-child(1) {background-color: #f998a6;}
.midle_profile4_chart ul li:nth-child(8) div:nth-child(1) {background-color: #ff778b;}
.midle_profile4_chart ul li:nth-child(11) div:nth-child(1) {background-color: #f55970;}

.midle_profile4_chart ul li:nth-child(2) div:nth-child(2),
.midle_profile4_chart ul li:nth-child(5) div:nth-child(2),
.midle_profile4_chart ul li:nth-child(8) div:nth-child(2),
.midle_profile4_chart ul li:nth-child(11) div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72%;
  height: 100%;
  border-radius: 30px;
  border-radius: 0px 30px 30px 0px;
  float: left;
}
.midle_profile4_chart ul li:nth-child(2) div:nth-child(2) {background-color: #f55970;}
.midle_profile4_chart ul li:nth-child(5) div:nth-child(2) {background-color: #ff778b;}
.midle_profile4_chart ul li:nth-child(8) div:nth-child(2) {background-color: #f998a6;}
.midle_profile4_chart ul li:nth-child(11) div:nth-child(2) {background-color: lightpink;}




.midle_profile4_chart ul li:nth-child(5) div:nth-child(1) {width: 65%;}
.midle_profile4_chart ul li:nth-child(5) div:nth-child(2) {width: 35%;}

.midle_profile4_chart ul li:nth-child(8) div:nth-child(1) {width: 40%;}
.midle_profile4_chart ul li:nth-child(8) div:nth-child(2) {width: 60%;}

.midle_profile4_chart ul li:nth-child(11) div:nth-child(1) {width: 77%;}
.midle_profile4_chart ul li:nth-child(11) div:nth-child(2) {width: 23%;}

.midle_profile4_chart ul li div:first-child {
  color: #eee;
  font-size: 12px;
  font-weight: bold;
}
.midle_profile4_chart ul li div:last-child {
  color: #eee;
  font-size: 12px;
  font-weight: bold;
}







#Available_Skills {
  position: relative;
  padding-top: 130px;
  box-sizing: border-box;
  font-family: 'Orbit', sans-serif;
}
.Language,
.Framework_Library,
.Editor_Tool {
width: 50%;
height: 58%;
padding: 20px;
box-sizing: border-box;
float: left;
}
.Editor_Tool {
  width: 100%;
  height: 42%;
}

.Language_box,
.Framework_Library_box,
.Editor_Tool_box {
  width: 100%;
  height: 100%;
}

.Skills_tit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #fff;
  border-radius: 30px;
}
.Skills_tit h1 {
  width: 120px;
  text-align: center;
  margin: 0 20px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #000;
}
.Framework_Library_title h1 {
  width: 1340px;
}
.Editor_Tool_title h1 {
  width: 485px;
}


.Skills_tit div {
  width: 100%;
  height: 1px;
  border-bottom: 2px solid #000;
  margin: 0 20px;
}

.Skiles_content {
  position: relative;
  z-index: 2;
  display: flex;
  width: 100%;
  height: 75px;
  margin-top: 20px;
  border-radius: 15px;
  overflow: hidden;
  background-color: #fff;
}

.Skiles_content h4 {
  position: absolute;
  z-index: 1;
  top: 0;
  /* right: -670px; */
  right: 0;
  display: flex;
  align-items: center;
  width: 80%;
  height: 100%;
  background-color: #fff;
  color: #000;
  border-radius: 0px 10px 10px 0px ;
  padding: 20px;
  padding-left: 10px;
  box-sizing: border-box;
  float: left;
  font-size: 14px;
  overflow: hidden;
  transition: 0.5s;
  opacity: 0;
}


.Editor_Tool_List {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.Editor_Tool_VScode,
.Editor_Tool_Git_Hub,
.Editor_Tool_XD,
.Editor_Tool_Git {
  width: 49%;
  margin-right: 2%;
  float: left;
}
.Editor_Tool_Git_Hub {
  float: right;
  margin-right: 0;
}
.Editor_Tool_Git {
  float: right;
  margin-right: 0;
}


.HTML_img,
.CSS_img,
.JS_img,
.jQuery_img,
.React_img,
.Sass_img,
.JSX_img,
.Bootstrap_img,
.VScode_img,
.GitHub_img,
.XD_img,
.Git_img {
  width: 20%;
  height: 75px;
  background-color: #fff;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px 0px 0px 10px;
  float: left;
}

.HTML_img {background-image: url(./BackImg/HTML5.png);}
.CSS_img {background-image: url(./BackImg/CSS3.png);}
.JS_img {background-image: url(./BackImg/JS.png);}
.jQuery_img {background-image: url(./BackImg/jQuery.png);}
.React_img {background-image: url(./BackImg/React.png);}
.Sass_img {background-image: url(./BackImg/SASS.png);}
.JSX_img {background-image: url(./BackImg/JSX.png);}
.Bootstrap_img {background-image: url(./BackImg/Bootstrap.png);}
.VScode_img {background-image: url(./BackImg/VScode.png);}
.GitHub_img {background-image: url(./BackImg/GitHub.png);}
.Git_img {background-image: url(./BackImg/Git.png);}
.XD_img {background-image: url(./BackImg/XD.png);}

.Skills_txt,
.Bootstrap_txt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  width: 80%;
  height: 100%;
  font-size: 40px;
  padding: 10px;
  padding-top: 6px;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  border-radius: 0px 10px 10px 0px;
  transition: 0.3s;
  overflow: hidden;
}
.Bootstrap_txt .BootColor {
  font-size: 30px;
  font-weight: bold;
  color: #000;
}

.HTML_txt {
  opacity: 0;
}
.Language_HTML h4 {
  opacity: 1;
}

.pro_bar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  height: 50px;
  margin: 0 15px;
  border-radius: 30px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  overflow: hidden;
}
.progressbar {
  border: 1px;
}

.progress-label {
  position: relative;
  background-color: #000;
  color: #000;
}
.progress-label p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}






#Project_CodeReview {
  padding-top: 100px;
  box-sizing: border-box;
  font-family: 'Orbit', sans-serif;

}
.CodeReview_TabMenu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 1300px;
  margin: 0 auto;
  box-sizing: border-box;
  margin-top: 20px;
}
.CodeReview_TabMenu li {
  width: 325px;
  height: 80px;
  line-height: 80px;
  margin-top: 20px;
  text-align: center;
  border: 2px solid #fff;
  color: #aaa;
  box-sizing: border-box;
  border-radius: 5px 5px 0px 0px;
  margin-left: -5px;
  font-size: 14px;
  transition: 0.2s;
  cursor: pointer;
}

.CodeReview_TabMenu li:nth-child(1) {
  width: 324px;
  height: 100px;
  line-height: 100px;
  margin-top: 0;
  border: 2px solid #fff;
  border-bottom: none;
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  text-shadow: 5px 0px 25px yellow;
}
.CodeReview_TabMenu li:nth-child(1) {
  width: 323px;
  margin-left: 0px;
}
.CodeReview_TabMenu li:nth-child(3) {
  width: 324px;
}



.Tab2,
.Tab3,
.Tab4,
.Tab5 {
  display: none;
}
.CodeReview_Tab {
  position: relative;
  width: 1293px;
  height: 675px;
  margin: 0 auto;
  border: 2px solid #fff;
  border-top: none;
  border-radius: 0px 0px 5px 5px;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.useSkill {
  display: flex;
  justify-content: space-evenly;
  z-index: 2;
  position: absolute;
  left: 20px;
  bottom: 13px;
  width: 960px;
  height: 200px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 15px 15px 0px 0px;
  background-color: rgba(255,255,255,0.8);
  backdrop-filter: blur(3px);
  transition: 0.3s;
}
.useSkill_open {
  position: absolute;
  z-index: 4;
  opacity: 0;
  bottom: 14px;
  left: 320px;
  width: 350px;
  height: 40px;
  background-color: rgba(255,255,255,0.8);
  backdrop-filter:blur(3px);
  color: #000;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 3px 3px 3px #777;
  cursor: pointer;
  transition: 0.2s;
}
.useSkill_open:hover {
  color: orangered;
}
.useSkill_close {
  position: absolute;
  top: -40px;
  left: 300px;
  width: 350px;
  height: 40px;
  border-radius: 10px 10px 0px 0px;
  background-color: rgba(255,255,255,0.8);
  backdrop-filter:blur(3px);
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 3px 3px 3px #777;
  cursor: pointer;
  color: #000;
}
.useSkill_close:hover {
  color: blue;
}
.useSkill_Box {
  width: 110px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #000;
  font-weight: bold;
  text-align: center;
  padding: 5px 0;
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: top;
  box-sizing: border-box;
}

.useSkill1 {
  background-image: url(./BackImg/HTML5.png);
}
.useSkill2 {
  background-image: url(./BackImg/SASS.png)
}
.useSkill3 {
  background-image: url(./BackImg/jQuery.png)
}
.useSkill4 {
  background-image: url(./BackImg/JS.png)
}
.useSkill5 {
  background-image: url(./BackImg/Git.png)
}
.useSkill6 {
  background-image: url(./BackImg/GitHub.png)
}
.useSkill7 {
  background-image: url(./BackImg/VScode.png)
}
.useSkill8 {
  background-image: url(./BackImg/XD.png)
}
.useSkill9 {
  background-image: url(./BackImg/React.png)
}
.useSkill10 {
  background-image: url(./BackImg/JSX.png)
}
.useSkill11 {
  background-image: url(./BackImg/Bootstrap.png)
}

.Login_CSS {
  background-image: url(./BackImg/CSS3.png);
}







.CodeReview_TabBox1,
.CodeReview_TabBox2,
.CodeReview_TabBox3,
.CodeReview_TabBox4,
.CodeReview_TabBox5 {
  position: relative;
  display: flex;
  width: 1255px;
  height: 640px;
  border: 1px solid #fff;
  box-sizing: border-box;
  overflow-y: scroll;

}
.CodeReview_img {
  position: relative;
  width: 1000px;
  height: 560px;
  border: 1px solid #fff;
  box-sizing: border-box;
  background-color: #777;
  text-align: center;
  line-height: 560px;
  font-size: 50px;
  background-repeat: no-repeat;
  transition: 0.3s;
}

/* 임시 글자색 변경 */
.CodeReview_TabBox1 .CodeReview_img,
.CodeReview_TabBox2 .CodeReview_img,
.CodeReview_TabBox3 .CodeReview_img,
.CodeReview_TabBox4 .CodeReview_img,
.CodeReview_TabBox5 .CodeReview_img {
  font-weight: bold;
  text-shadow: 3px 3px 5px orange;  
}
.CodeReview_TabBox2 {
  background-color: #fff;
}
.LoginMain,
.LoginSearch {
  margin-top: 0px;
}


.TeamMain {
  position: absolute;
  top: 0;
  height: 3300px;
  background-image: url(./BackImg/1.TeamSite/TaemSiteImg.jpg);
  /* transition: 30s; */
}
.TeamSub{
  display: none;
  background-image: url(./BackImg/1.TeamSite/TaemSiteImg_sub.jpg);
  height: 2222px;
}
.TeamDetail {
  display: none;
  background-image: url(./BackImg/1.TeamSite/TaemSiteImg_detail.jpg);
  height: 2143px;
}

.LoginMain {
  height: 580px;
  background-image: url(./BackImg/2.LoginSite/Login_main.jpg);
}

.LoginJoin {
  display: none;
  height: 1670px;
  background-image: url(./BackImg/2.LoginSite/Login_join.jpg);
}

.LoginSearch {
  display: none;
  height: 580px;
  background-image: url(./BackImg/2.LoginSite/Login_Search.jpg);
}




.SingleMainPC {
  height: 3330px;
  background-image: url(./BackImg/3.SingleSite/SingleSite_Main.jpg);
}
.SingleSubPC {
  display: none;
  height: 1864px;
  background-image: url(./BackImg/3.SingleSite/SingleSite_Sub.jpg);
}
.SingleEventPC {
  display: none;
  height: 2423px;
  background-image: url(./BackImg/3.SingleSite/SingleSite_Event.jpg);
}



.SingleMainTab {
  display: none;
  height: 3378px;
  background-image: url(./BackImg/3.SingleSite/SingleSite_MainTap.jpg);
}
.SingleSubTab {
  display: none;
  height: 3041px;
  background-image: url(./BackImg/3.SingleSite/SingleSite_SubTab.jpg);
}
.SingleEventTab {
  display: none;
  height: 2177px;
  background-image: url(./BackImg/3.SingleSite/SingleSite_EventTab.jpg);
}


.SingleMainMobile {
  display: none;
  height: 4484px;
  background-image: url(./BackImg/3.SingleSite/SingleSite_MainMobile.jpg);
}
.SingleSubMobile {
  display: none;
  height: 3343px;
  background-image: url(./BackImg/3.SingleSite/SingleSite_SubMobile.jpg);
}
.SingleEventMobile {
  display: none;
  height: 1890px;
  background-image: url(./BackImg/3.SingleSite/SingleSite_EventMobile.jpg);
}

.CodeReview_TabBox4 .CodeReview_img {
  height: 2990px;
  background-image: url(./BackImg/4.ReactSite/React_Page.jpg);
  background-size: 96.5%;
}

.CodeReview_TabBox_Btn {
  position: absolute;
  bottom: 13px;
  right: 32px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 277px;
  height: 640px;
  border: 1px solid #fff;
  box-sizing: border-box;
  background-color: #000;
  text-align: center;
}
.CodeReview_TabBox_Btn input {
  display: none;
}

.CodeReview_TabBox_Btn label {
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
  box-sizing: border-box;
  width: 220px;
  padding: 10px;
  box-sizing: border-box;
}
.CodeReview_TabBox_Btn label:hover {
  color: skyblue;
  border-radius: 5px;
  background-color: #111;
}
.CodeReview_TabBox_Btn label:hover a {
  color: skyblue;
  border-radius: 5px;
}


label[for="CodeBtn2"],
label[for="CodeBtn6"],
label[for="CodeBtn10"],
label[for="CodeBtn13"] {
  color: orange;
  font-weight: bold;
  transition: 0.3s;
}

label[for="CodeBtn2"]:hover,
label[for="CodeBtn6"]:hover,
label[for="CodeBtn10"]:hover,
label[for="CodeBtn13"]:hover {
  background-color: #111;
  color: orange;
}




/* 메인/서브/디테일 Btn */
.LoginPageBtnBox,
.SinglePageBtnBox,
.TeamPageBtnBox,
.ReactPageBtnBox {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 78px;
  left: -200px;
  width: 150px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  padding: 10px;
  border: 2px solid #777;
  animation: boxAni;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes boxAni {
  0% {border: 2px solid #777;}
  50% {border: 2px solid #fff;}
  100% {border: 2px solid #777;}
}

.LoginPageBtnBox:hover,
.SinglePageBtnBox:hover,
.TeamPageBtnBox:hover,
.ReactPageBtnBox:hover {
  animation: none;
}

.SingleBtnBox1 {
  top: 50%;
  transform: translateY(-50%);
}

.LoginPageBtnBox div,
.SinglePageBtnBox div,
.TeamPageBtnBox div,
.ReactPageBtnBox div {
  margin-bottom: 5px;
  text-align: center;
  text-shadow: 2px 2px 5px #000;
}
.LoginPageBtnBox label,
.SinglePageBtnBox label,
.TeamPageBtnBox label,
.ReactPageBtnBox label {
  font-size: 12px;
  width: 150px;
  background-color: unset;
  padding-right: 0;
  padding-left: 0;
}

.SinglePageBtnBox h2 {
  font-size: 14px;
  text-shadow: 1px 1px 3px #000;
  text-align: center;
}



.CodeReview_Page1,
.CodeReview_Page2,
.CodeReview_Page3,
.CodeReview_Page4 {
  position: relative;
  display: none;
  /* display: flex;     디스플레이논 */
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 99;
  top: 0vh;
  left: 0;
  width: 100%;
  height: 110vh;
  background-color: #000;
  overflow: hidden;
}



.CodeReview_Page_outer {
  display: flex;
  width: 1420px;
  height: 89vh;
  margin-top: 10px;
  flex-wrap: wrap;
}
.content_Btn_outer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 1420px;
  height: 10px;
}


.CodeReview_Page_Close {
  display: none;
  z-index: 120;
  width: 50px;
  height: 50px;
  position: absolute;
  right: -40px;
  top: 15px;
  background-color: #fff;
  text-align: center;
  line-height: 43px;
  font-size: 30px;
  border-radius: 5px;
  cursor: pointer;
  border: 3px solid #ddd;
  box-sizing: border-box;
}
.CodeReview_Page_Close i {
  color: #000;
}
.CodeReview_Page_box {
  width: 1400px;
  height: 900px;
  background-color: #fff;
  border-radius: 5px;
  overflow-y: scroll;
}
.CodeReview_content {
  position: relative;
  display: flex;
  width: 100%;
}

.CodeReview_content_img {
  width: 100%;
  height: 800px;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  padding: 15px;
  box-sizing: border-box;
}





.code_content {
  overflow: hidden;
  transition: 0.3s;
}
.code_content_txt {
  overflow: hidden;
  transition: 0.3s;
}
.code_content {
  width: 100%;
}
.code_content_tit h1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  line-height: 50px;
  border: 1px solid #eee;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 15px;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  margin-bottom: 25px;
}
.code_content_tit h1 span {
  width: 150px;
  display: flex;
  color: #000;
  justify-content: space-between;
  color: #000;
  
}
.code_content_tit h1 span i {
  font-size: 50px;
  color: #000;
}
.code_content h3 {
  width: 100%;
  height: 70px;
  padding: 20px;
  box-sizing: border-box;
}


.code_content .fa-caret-up:hover {
  color: orangered;
}
.code_content .fa-caret-up:hover ~  .code_content span {
  color: orangered;
}
.code_content .fa-caret-down:hover {
  color:cornflowerblue;
}
.code_content .fa-caret-down:hover ~ .code_content span {
  color:cornflowerblue;
}



.code_content_img_Ranking1,
.code_content_img_SubItem1,
.code_content_img_Fillter1,
.code_content_img_Review1,
.code_content_img_Login1,
.code_content_img_Login2,
.code_content_img_Login3,
.code_content_img_Login4,
.code_content_img_Login5,
.code_content_img_Login6,
.code_content_img_Single1,
.code_content_img_Single2,
.code_content_img_Single3,
.code_content_img_Single4,
.code_content_img_React1,
.code_content_img_React2,
.code_content_img_React3,
.code_content_img_React4 {
  width: 800px;
  height: 850px;
  background-image: url(./BackImg/CodeImg/Ranking/codeBack.png);
  background-repeat: no-repeat;
  float: left;
}
.code_content_img_SubItem1,
.code_content_img_Review1 {
  height: 950px;
}


.code_content_txt {
  width: 547px;
  height: 800px;
  padding: 0 20px;
  box-sizing: border-box;
  float: left;
}
.code_content_txt p {
  font-size: 18px;
  font-weight: unset;
  line-height: 35px;
  color: #000;

}

.TEAM_Swiper,
.SUB_Swiper,
.FILLTER_Swiper,
.REVIEW_Swiper,
.LOGIN_Swiper1,
.LOGIN_Swiper2,
.LOGIN_Swiper3,
.LOGIN_Swiper4,
.LOGIN_Swiper5,
.LOGIN_Swiper6,
.SINGLE_Swiper1,
.SINGLE_Swiper2,
.SINGLE_Swiper3,
.SINGLE_Swiper4,
.REACT_Swiper1,
.REACT_Swiper2,
.REACT_Swiper3,
.REACT_Swiper4 {
  position: relative;
  width: 750px;
  height: 800px;
  color: #000;
  margin: 20px auto;
  transition: 0.3s;
}
.TeamSwiper1,
.SubSwiper1,
.FillterSwiper1,
.ReviewSwiper1,
.LoginSwiper1,
.LoginSwiper2,
.LoginSwiper3,
.LoginSwiper4,
.LoginSwiper5,
.LoginSwiper6,
.SingleSwiper1,
.SingleSwiper2,
.SingleSwiper3,
.SingleSwiper4,
.ReactSwiper1,
.ReactSwiper2,
.ReactSwiper3,
.ReactSwiper4 {
  width: 100%;
  overflow: hidden;
}
.TEAM_Swiper .swiper-wrapper,
.SUB_Swiper .swiper-wrapper,
.FILLTER_Swiper .swiper-wrapper,
.REVIEW_Swiper .swiper-wrapper,
.LOGIN_Swiper1 .swiper-wrapper,
.LOGIN_Swiper2 .swiper-wrapper,
.LOGIN_Swiper3 .swiper-wrapper,
.LOGIN_Swiper4 .swiper-wrapper,
.LOGIN_Swiper5 .swiper-wrapper,
.LOGIN_Swiper6 .swiper-wrapper,
.SINGLE_Swiper1 .swiper-wrapper,
.SINGLE_Swiper2 .swiper-wrapper,
.SINGLE_Swiper3 .swiper-wrapper,
.SINGLE_Swiper4 .swiper-wrapper,
.REACT_Swiper1 .swiper-wrapper,
.REACT_Swiper2 .swiper-wrapper,
.REACT_Swiper3 .swiper-wrapper,
.REACT_Swiper4 .swiper-wrapper {
  width: 100%;
}
.TEAM_Swiper .swiper-slide,
.SUB_Swiper .swiper-slide,
.FILLTER_Swiper .swiper-slide,
.REVIEW_Swiper .swiper-slide,
.LOGIN_Swiper1 .swiper-slide,
.LOGIN_Swiper2 .swiper-slide,
.LOGIN_Swiper3 .swiper-slide,
.LOGIN_Swiper4 .swiper-slide,
.LOGIN_Swiper5 .swiper-slide,
.LOGIN_Swiper6 .swiper-slide,
.SINGLE_Swiper1 .swiper-slide,
.SINGLE_Swiper2 .swiper-slide,
.SINGLE_Swiper3 .swiper-slide,
.SINGLE_Swiper4 .swiper-slide,
.REACT_Swiper1 .swiper-slide,
.REACT_Swiper2 .swiper-slide,
.REACT_Swiper3 .swiper-slide,
.REACT_Swiper4 .swiper-slide {
  height: 700px;
  float: left;
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
}



/* ======================================================================= */
/* ======================================================================= */
/* 팀프로젝트 */

.TEAM_Swiper .swiper-slide:nth-child(1) {
  background-image: url(./BackImg/CodeImg/Ranking/RankingSwiper_content.jpg);
}
.TEAM_Swiper .swiper-slide:nth-child(2) {
  background-image: url(./BackImg/CodeImg/Ranking/RankingSwiper_CodeImg1.png);
}
.TEAM_Swiper .swiper-slide:nth-child(3) {
  background-image: url(./BackImg/CodeImg/Ranking/RankingSwiper_CodeImg2.png);
}
.TEAM_Swiper .swiper-slide:nth-child(4) {
  background-image: url(./BackImg/CodeImg/Ranking/RankingSwiper_CodeImg3.png);
}



.SUB_Swiper .swiper-slide:nth-child(1) {
  background-image: url(./BackImg/CodeImg/SubItem/SubItem_content.jpg);
  background-size: 93%;
  background-position-x: center;
}
.SUB_Swiper .swiper-slide:nth-child(2) {
  background-image: url(./BackImg/CodeImg/SubItem/Data_CodeImg.png);
  background-size: 98%;
}
.SUB_Swiper .swiper-slide:nth-child(3) {
  background-image: url(./BackImg/CodeImg/SubItem/SubItem_DataPush_CodeImg.png);
  background-size: 100%;
}
.SUB_Swiper .swiper-slide:nth-child(4) {
  background-image: url(./BackImg/CodeImg/SubItem/SubItem_Array_CodeImg.png);
  background-size: 84%;
}
.SUB_Swiper .swiper-slide:nth-child(5) {
  background-image: url(./BackImg/CodeImg/SubItem/Detail_SumImgTrans_Content.png);
}
.SUB_Swiper .swiper-slide:nth-child(6) {
  background-image: url(./BackImg/CodeImg/SubItem/Detail_SumImgTrans_CodeImg.png);
}




.FILLTER_Swiper .swiper-slide:nth-child(1) {
  background-image: url(./BackImg/CodeImg/Fillter/Fillter_content.jpg);
  background-size: 90%;
  background-position-x: center;
  background-position-y: center;
}
.FILLTER_Swiper .swiper-slide:nth-child(2) {
  background-image: url(./BackImg/CodeImg/Fillter/Fillter_CodeImg.png);
}
.FILLTER_Swiper .swiper-slide:nth-child(3) {
  background-image: url(./BackImg/CodeImg/Fillter/Fillter_CodeImg2.png);
}
.FILLTER_Swiper .swiper-slide:nth-child(4) {
  background-image: url(./BackImg/CodeImg/Fillter/Fillter_CodeImg3_Reset.png);
}




.REVIEW_Swiper .swiper-slide:nth-child(1) {
  background-image: url(./BackImg/CodeImg/Review/Review_content.jpg);
  background-size: 93%;
}
.REVIEW_Swiper .swiper-slide:nth-child(2) {
  background-image: url(./BackImg/CodeImg/Review/Review_CodeImg.png);
  background-size: 93%;
}
.REVIEW_Swiper .swiper-slide:nth-child(3) {
  background-image: url(./BackImg/CodeImg/Review/Review_CodeImg2.png);
  background-size: 85%;
}
.REVIEW_Swiper .swiper-slide:nth-child(4) {
  background-image: url(./BackImg/CodeImg/Review/Review_CodeImg3.png);
  background-size: 100%;
}
.REVIEW_Swiper .swiper-slide:nth-child(5) {
  background-image: url(./BackImg/CodeImg/Review/Review_CodeImg4.png);
  background-size: 95%;
}
.REVIEW_Swiper .swiper-slide:nth-child(6) {
  background-image: url(./BackImg/CodeImg/Review/Review_CodeImg5.png);
}


/* ======================================================================= */
/* ======================================================================= */
/* 로그인 구현 */
.LOGIN_Swiper1 .swiper-slide:nth-child(1) {background-image: url(./BackImg/CodeImg/2.Login/Login_main/Login_main1.jpg);}
.LOGIN_Swiper1 .swiper-slide:nth-child(2) {background-image: url(./BackImg/CodeImg/2.Login/Login_main/Login_main2.jpg);}

.LOGIN_Swiper2 .swiper-slide:nth-child(1) {background-image: url(./BackImg/CodeImg/2.Login/ID_PW/ID_PW1-1.jpg);}
.LOGIN_Swiper2 .swiper-slide:nth-child(2) {background-image: url(./BackImg/CodeImg/2.Login/ID_PW/ID_PW1.jpg);}

.LOGIN_Swiper3 .swiper-slide:nth-child(1) {background-image: url(./BackImg/CodeImg/2.Login/Join/Join1-1.jpg);}
.LOGIN_Swiper3 .swiper-slide:nth-child(2) {background-image: url(./BackImg/CodeImg/2.Login/Join/Join1.jpg);}

.LOGIN_Swiper4 .swiper-slide:nth-child(1) {background-image: url(./BackImg/CodeImg/2.Login/Join/Join2-1.jpg);}
.LOGIN_Swiper4 .swiper-slide:nth-child(2) {background-image: url(./BackImg/CodeImg/2.Login/Join/Join2.jpg);}

.LOGIN_Swiper5 .swiper-slide:nth-child(1) {background-image: url(./BackImg/CodeImg/2.Login/Join/Join3-1.jpg);}
.LOGIN_Swiper5 .swiper-slide:nth-child(2) {background-image: url(./BackImg/CodeImg/2.Login/Join/Join3.jpg);}

.LOGIN_Swiper6 .swiper-slide:nth-child(1) {background-image: url(./BackImg/CodeImg/2.Login/Join/Join4\,5-1.jpg);}
.LOGIN_Swiper6 .swiper-slide:nth-child(2) {background-image: url(./BackImg/CodeImg/2.Login/Join/Join4.jpg);}
.LOGIN_Swiper6 .swiper-slide:nth-child(3) {background-image: url(./BackImg/CodeImg/2.Login/Join/Join5.jpg);}




/* ======================================================================= */
/* ======================================================================= */
/* 개인프로젝트 */
.SINGLE_Swiper1 .swiper-slide:nth-child(1) {background-image: url(./BackImg/CodeImg/3.Single/Single1-1.jpg);}
.SINGLE_Swiper1 .swiper-slide:nth-child(2) {background-image: url(./BackImg/CodeImg/3.Single/Single1.jpg);}

.SINGLE_Swiper3 .swiper-slide:nth-child(1) {background-image: url(./BackImg/CodeImg/3.Single/Single2-1.jpg);}
.SINGLE_Swiper3 .swiper-slide:nth-child(2) {background-image: url(./BackImg/CodeImg/3.Single/Single2.jpg);}

.SINGLE_Swiper4 .swiper-slide:nth-child(1) {background-image: url(./BackImg/CodeImg/3.Single/Single3-1.gif);}
.SINGLE_Swiper4 .swiper-slide:nth-child(2) {background-image: url(./BackImg/CodeImg/3.Single/Single3.jpg);}
.SINGLE_Swiper4 .swiper-slide{background-position: center;}

.SINGLE_Swiper2 .swiper-slide:nth-child(1) {background-image: url(./BackImg/CodeImg/3.Single/Single4-1.gif);}
.SINGLE_Swiper2 .swiper-slide:nth-child(2) {background-image: url(./BackImg/CodeImg/3.Single/Single4.jpg);
  background-size: 97%;}
.SINGLE_Swiper2 .swiper-slide{background-position: center;}

/* ======================================================================= */
/* ======================================================================= */
/* 리액트프로젝트 */
.REACT_Swiper1 .swiper-slide:nth-child(1) {background-image: url(./BackImg/CodeImg/10.React_Swiper/Swiper1.jpg);}
.REACT_Swiper1 .swiper-slide:nth-child(2) {background-image: url(./BackImg/CodeImg/10.React_Swiper/Swiper2.jpg);}




.REACT_Swiper2 .swiper-slide:nth-child(1) {background-image: url(./BackImg/CodeImg/11.React_DataPush/DataPush1.jpg);}
.REACT_Swiper2 .swiper-slide:nth-child(2) {background-image: url(./BackImg/CodeImg/11.React_DataPush/DataPush2.jpg);}
.REACT_Swiper2 .swiper-slide:nth-child(3) {background-image: url(./BackImg/CodeImg/11.React_DataPush/DataPush3.jpg);}
.REACT_Swiper2 .swiper-slide:nth-child(4) {background-image: url(./BackImg/CodeImg/11.React_DataPush/DataPush4.jpg);}



.REACT_Swiper3 .swiper-slide:nth-child(1) {background-image: url(./BackImg/CodeImg/12.React_Detail/Detail1.jpg);}
.REACT_Swiper3 .swiper-slide:nth-child(2) {background-image: url(./BackImg/CodeImg/12.React_Detail/Detail2.jpg);}
.REACT_Swiper3 .swiper-slide:nth-child(3) {background-image: url(./BackImg/CodeImg/12.React_Detail/Detail3.jpg);}



.REACT_Swiper4 .swiper-slide:nth-child(1) {background-image: url(./BackImg/CodeImg/13.React_Cart/Cart1.jpg);}
.REACT_Swiper4 .swiper-slide:nth-child(2) {background-image: url(./BackImg/CodeImg/13.React_Cart/Cart2_Store.jpg);}





.swiper-pagination {
  height: 70px;
  line-height: 33px;
  color: #fff;
  box-sizing: border-box;
  padding-top: 10px;
  border-top: 1px solid #bbb
}
.swiper-pagination-current {
  width: 12px !important;
  color: #fff;
}
.swiper-pagination-total {
  width: 8px !important;
  color: #fff;
}


















#Connect {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-end;

  padding-top: 100px;
  box-sizing: border-box;
  font-family: 'Orbit', sans-serif;
}
.Connect_Back {
  position: absolute;
  top: -300px;left: 0;
  width: 100%;
  height: 100%;
}



.Connect_img1 {
  width: 30%;
  height: 45vh;
  margin-bottom: 20px;
  box-sizing: border-box;
  background-size: 111%;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin: 1.5% 2.5%;
}
.Connect_mind {
  width: 65%;
  height: 45vh;
  padding: 25px;
  box-sizing: border-box;
  font-size: 28px;
  line-height: 80px;
}
.Connect_mind ul li:last-child {
  margin-top: 140px;
  float: right;
}

.Connect_img1 {
  background-image: url(./BackImg/photo/KakaoTalk_20230626_142348064_06.jpg);
  background-size: cover;
  background-position: center;
}


.Connect_text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  height: 40vh;
  color: #fff;
  background-image: url(./BackImg/photo/back_sky_img.jpg);
  background-size: cover;
}




.Connect_text h1 {
  width: 550px;
  text-align: center;
  margin: 30px 0 20px;
  font-size: 42px;
  text-shadow: 2px 2px 5px #000;
}
.Connect_text ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 550px;
  text-align: center;
  line-height: 50px;
  font-size: 22px;
  font-weight: bold;
  text-shadow: 5px 5px 5px #000;
}
.Connect_text ul li {
  position: relative;
  animation: anime_textup 1.5s infinite;
  letter-spacing: 1px;
}
.Connect_text ul:nth-child(4) {
  cursor: pointer;
}




.Connect_text ul li:nth-child(1) {
  animation-delay: 0.1s;
}
.Connect_text ul li:nth-child(2) {
  animation-delay: 0.2s;
}
.Connect_text ul li:nth-child(3) {
  animation-delay: 0.3s;
}
.Connect_text ul li:nth-child(4) {
  animation-delay: 0.4s;
}
.Connect_text ul li:nth-child(5) {
  animation-delay: 0.5s;
}




.Connect_text ul:nth-child(3) li:nth-child(6),
.Connect_text ul:nth-child(4) li:nth-child(6) {
  animation-delay: 0.6s;
}
.Connect_text ul:nth-child(3) li:nth-child(7),
.Connect_text ul:nth-child(4) li:nth-child(7) {
  animation-delay: 0.7s;
}
.Connect_text ul:nth-child(3) li:nth-child(8),
.Connect_text ul:nth-child(4) li:nth-child(8) {
  animation-delay: 0.8s;
}



.Connect_text ul:nth-child(3) li:nth-child(9) {
  animation-delay: 0.9s;
}
.Connect_text ul:nth-child(3) li:nth-child(10) {
  animation-delay: 1s;
}
.Connect_text ul:nth-child(3) li:nth-child(11) {
  animation-delay: 1.1s;
}
.Connect_text ul:nth-child(3) li:nth-child(12) {
  animation-delay: 1.2s;
}


    @keyframes anime_textup { 
      0% { top: 0; } 
      20% { top: -0.3rem; } 
      40% { top: 0 } 
      60% { top: 0 } 
      80% { top: 0 } 
      100% { top: 0 } }